@use "../../styles/mixins.scss" as *;

.card {
  min-height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  text-align: start;
  padding: 10px;
  padding-top: 15px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 10px;
    padding-top: 20px;
  }

  @media (min-width: 1024px) {
    padding: 20px;
    padding-top: 30px;
  }

  @media (min-width: 1280px) {
    padding: 25px;
    padding-top: 50px;
  }
}

.card_company-box {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @include on-tablet {
    height: 75px;
  }

  @include on-desktop {
    height: 90px;
  }
}

.card_company-photo {
  max-height: 100%;
  max-width: 100%;
}

.card_review {
  text-align: center;
  flex-grow: 1;
}

.card_reviewer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  height: 100px;
  @media (min-width: 481px) {
    flex-direction: row;
  }
}

.card_review-text {
  position: relative;
  text-align: start;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 25px;

  @include on-laptop {
    font-size: 18px;
  }
  @include on-desktop {
    line-height: 35px;
    font-size: 20px;
  }

  &::after {
    content: "❜❜";
    font-size: 34px;
    color: grey;
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
  }
}

.card_photo-box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 5px;

  @media (min-width: 481px) {
    margin-bottom: 0px;
    margin-right: 17px;
  }
}

.card_profile-picture {
  width: 100%;
  height: auto;
}

.card_name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  @include on-tablet {
    font-size: 20px;
  }
  @include on-laptop {
    font-size: 24px;
    line-height: 35px;
  }
}

.card_position {
  font-weight: 500;
  font-size: 16px;
  color: black;
  margin: 0;

  @include on-tablet {
    font-size: 16px;
  }

  @include on-laptop {
    font-size: 20px;
    line-height: 30px;
  }

  @include on-desktop {
    font-size: 24px;
    line-height: 35px;
  }
}
